<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>ASL Translator</title>
<link rel="shortcut icon"
    href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
    <body>
        <h1 class="title">ASL Translator</h1>
        <main>
            <div class="video-wrap">
                <video id="video" width="400" height="400" playsinline autoplay></video>
            </div>

            <div class="controller">
                <button id="snap">Predict</button>
            </div>

            <canvas hidden id="canvas" width="200" height="200"></canvas>
            <h1 id="prediction"></h1>
            <img id="asl_letters" width= 425px height= 600px src="{{ url_for('static', filename='img/letters.png') }}">
        </main>
    </body>
    <script type=text/javascript src="{{url_for('static', filename='js/homepage.js')}}"></script>
</html>
